* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 400px 4fr 1.5fr;
  grid-template-rows: 5rem 1fr;
}

nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1/3;
  font-size: 24px;
  text-align: center;
  padding-top: 24px;
  font-weight: 700;
}

.action-buttons-section {
  display: flex;
  align-items: center;
  background-color: #7048e8;
  grid-column: 2/-1;
  font-size: 16px;
  font-weight: 600;
  padding-left: 40px;
  padding-right: 40px;
  gap: 12px;
}

.emails-section {
  background-color: #eaecef;
  color: #212529;
  overflow: scroll;
}

.displayed-email {
  background-color: #ffffff;
  color: #212529;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-top: 24px;
}

.sidebar {
  background-color: #eaecef;
  color: #212529;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-top: 24px;
}

.btn {
  background-color: #5f3cc4;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  padding: 6px 8px;
}

.emails-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.email-item {
  font-size: 24px;
  font-weight: 600;
  padding: 40px 80px;
  background-color: #acb5bd;
  display: grid;
  place-content: center;
}

.trash-link {
  background-color: #d6336c;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  margin-left: auto;
}
